* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 16px * 62.5% = 10px */
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem; /* 1.6rem = 10px * 1.6 = 16px */
    color: #FFF;
    background: linear-gradient(#333, #000);
    min-height: 100vh;
}

.header, main, .footer {
    width: 1280px;
    max-width: 100%;
    margin: auto;
    background-color: #FFFFFF11;
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-left: 10rem;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: 80px;
    min-height: 60px;
}

.header h1 {
    margin: 0;
    padding: .5rem;
}

.footer {
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: #CC0;
}

a:hover, a:focus {
    background-color: #FFFFFF22;
    color: #3C3;
}

.menu { flex-basis: 100%;
}

.menu ul {
    display:flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: start;
    list-style: none;
    margin:0;
    padding: 0;
}

.menu a {
    display: block;
    padding: 2rem 1rem;
}

.movies {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: .5rem;
    padding: .5rem;
}

.movies h2 {
    width: 100%;
}

.movies article {
    background-color: #FFFFFF33;
    flex-basis: 24%;
}

.fa {
    font-size: 1.8rem;
}

@media (min-width: 1024px) {
    .menu {
        flex-basis: auto;
    }
    .menu a {
        margin-left: .5rem;
    }
}